<!-- Start of Content - where the content be -->
<div class="content2">
  <!-- Start of Hero - The main top image like a phone etc -->
  <div class="hero">
    
    <h3>At a glance</h3>
    
    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s">
      <h4>FULL NAME</h4><h5 itemprop="name" >{{page.fullname}}</h5>
    </div>
    
    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.2s">
      <h4>BIRTHPLACE</h4><h5>{{page.bithplace}}</h5>
    </div>
    
    <div class="one_third_last wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.3s">
      <h4>BORN</h4><h5 itemprop="birthDate">{{page.DOB}}</h5>
    </div>
    
    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address" >
      <h4>RESIDENCE</h4><h5 itemprop="locality">{{page.address}}</h5>
      <meta itemprop="addressCountry" content="{{page.country}}"/>
    </div>
    
    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.2s">
      <h4>EDUCATION</h4><h5>{{page.education}}</h5>
    </div>
    
    <div class="one_third_last wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.3s">
      <h4>HOBBIES</h4><h5>{{page.hobbies}}</h5>
    </div>
    <meta itemprop="email" content="{{site.mail}}" /> 
    <meta itemprop="url" content="{{site.url}}" />
    <meta itemprop="role" content="{{site.role}}" />
  </div><!-- End of Hero -->
  
</div><!-- End of Content -->
