<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  {% endif %}
  {% if tags %}
  <meta name="keywords" content="{{tags}} abilngeorge" />
  {% else %}
  <meta name="keywords" content="abilngeorge abilng blog CET JNV IITM" />
  {%endif %}
  
<link rel="canonical" href=" { { site.url } }{ { page.url } }" />
<meta name=”viewport” content=”width=1024, minimal-ui”>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
    var host = "abilng.in";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>

<title>{{ site.title }} {% if page.title %}{{ page.title }}{% endif %}</title>
    
<!-- Loading of stylesheet for the design -->
<link href="{{ relative }}/css/main.css" rel="stylesheet" type="text/css" />
    
<!-- This tells the page to watch for special styling for IE9 -->
<!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->

<link rel="stylesheet" href="{{ relative }}/css/owl.carousel.css">
<link rel="stylesheet" href="{{ relative }}/css/owl.theme.css">
<link rel="stylesheet" href="{{ relative }}/css/fontello.css">
<link rel="stylesheet" href="{{ relative }}/css/jquery.fancybox.css" type="text/css" media="screen" /> 
<link rel="stylesheet" href="{{ relative }}/css/jquery.fs.wallpaper.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ relative }}/css/animate.css">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

<!--Loading Scripts -->
<!-- First we will load jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<!--Load Fallback if google not avalible-->
<script>
if (!window.jQuery) {
    document.write('<script src="{{ relative }}/js/jquery-1.11.0.min.js"><\/script>');
}
</script>    
<!-- Now we load the JS files for the fancy things on the page -->
<script type="text/javascript" src="{{ relative }}/js/owl.carousel.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="{{ relative }}/js/retina.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.scrollToTop.min.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.fs.wallpaper.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.plusanchor.js"></script>
<script type="text/javascript" src="{{ relative }}/js/jquery.knob.js"></script>
<!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
<script type="text/javascript" src="{{ relative }}/js/app.js"></script>
<script type="text/javascript" src="{{ relative }}/js/wow.min.js"></script>
    
</head>
