<!-- HEADER SECTION -->
<header>

    <!-- Start of Header Container - the content div that is a set width and centralized -->
    <div class="header-container">
        
        <div id="menu" class="menu">
            <div id="nav" class="nav">
                <ul>
                    {% if page.path == "index.html" or page.path == "index.md" %}
                    <li><a href="#top">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="{{ relative }}/blog/">Astrolabos(Blog)</a></li>
                    <li><a href="#Skills">Skills</a></li>
                    <li><a href="#CV">CV / Resume</a></li>
                    <li><a href="#Gallery">Gallery</a></li>
                    <li><a href="#Contact">Contact Me</a></li>
                    {% else %}
                    <li><a href="{{ relative }}/index.html#top">Home</a></li>
                    <li><a href="{{ relative }}/blog/">Astrolabos(Blog)</a></li>
                    <li><a href="{{ relative }}/index.html#Gallery">Gallery</a></li>
                    <li><a href="{{ relative }}/index.html#Contact">Contact Me</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="menu-button"></div> 
        </div>        

    </div><!-- End of Header Container -->
    
</header>