<!-- Start of Social Section at bottom of page --> 
<div id="socialsection">
    <div id="social-left">
        <a rel="me" href="{{site.links.google.link}}?rel=me"><i class="icon-gplus"></i></a>
        <a rel="author" href="{{site.links.facebook.link}}"><i class="icon-facebook"></i></a>
        <a rel="author" href="{{site.links.twitter.link}}"><i class="icon-twitter"></i></a>
        <a rel="author" href="{{site.links.github.link}}"><i class="icon-github"></i></a>
    </div>
    <div id="social-button"></div>
    <div id="social-right">
        <a href="https://plus.google.com/share?url={{site.url}}{{url}}" target="_blank"><i class="icon-gplus"></i></a>
        <a href="http://www.facebook.com/share.php?u={{site.url}}{{url}}"  target="_blank"><i class="icon-facebook"></i></a>
        <a href="http://twitter.com/home?status={{site.url}}{{url}}"  target="_blank"><i class="icon-twitter"></i></a>
        <a href="https://github.com/abilng/"  target="_blank"><i class="icon-github"></i></a>
    </div>
</div>
<!-- End of Social Section at bottom of page --> 