<!DOCTYPE HTML>
<html>
{% include header.html %}
<body id="top">

{% include socialsection.html %}    

{% include nav.html %}     
    
<!-- TOP SECTION -->

<!-- Start of Video Element -->
<div id="video_element">

    <!-- Start of Main Title + Intro -->
    <div class="huge-title" itemscope itemtype="http://schema.org/Person">

        <img src="{{page.userImage}}" alt="{{page.user}}" class="headshot wow tada" data-wow-delay="3s" data-wow-offset="80" data-wow-duration="1s" itemprop="photo"/>
        <h1 class="wow bounceInDown" data-wow-offset="80" data-wow-duration="3s" itemprop="nickname">{{page.user}}</h1>

        <!-- Start of Owl Testimonial Carousel -->
        <div class="testimonials owl-carousel">
            {% assign tags =  page.usertags|split:"," %}
            {% for tag in tags %}
            <div><!-- Start of Slide 1 -->
                <div class="button-box"><h4>{{tag}}</h4></div>
            </div>
            {% endfor %}
        </div><!-- End of Owl Testimonial Carousel -->

    </div><!-- End of Main Title + Intro -->

    <!-- Start of Scroll Down Message and animation -->
    <div id="godown" class="floating">

        <p><a href="#About">Learn more about {{page.user}}</a></p>
        <img src="images/godown.png" alt="down"/>

    </div><!-- End of Scroll Down Message and animation -->

    <!-- Start of Shade - this is the css based gradient over the image for that cool effect -->
    <div class="shade"></div><!-- End of Shade -->

</div><!-- End of Video Element -->



<!-- Start of Wrapper - the full width container -->
<div class="wrapper">

    <!-- Start of Container -->
    <div class="container">
        <!-- AT A GLANCE -->
        {% include ataglance.html %} 
        <!-- ABOUT SECTION -->    
        {% include intro.html %} 
        <!-- SKILLS SECTION -->
        {% include skills.html %} 
        <!-- CV / RESUME SECTION -->
        {% include cv.html %}
        <!-- TESTIMONIALS SECTION -->
        {% include testimonials.html %} 
        <!-- Gallery SECTION -->
        {% include gallery.html %}
        <!-- CONTACT SECTION -->
        {% include contact.html %}

        {% include footer.html %}
	</div><!-- End of Container -->
</div><!-- End of Wrapper -->
</body>
</html>