{% include header.html %}
<body class="homepage">
  <!-- Header -->
  <section id="header">
    <div class="inner">
      <header>
	<!--<h1>Overflow</h1>-->
	<p>Hi. I'm {{ page.name }}.</p>
      </header>
      
      <footer>
	<a href="#banner" class="button style2 scrolly scrolly-centered">
	  Welcome to My Page
	</a>
      </footer>
    </div>
    
    
    <!-- Nav -->
    {% include nav.html %}
    
  </section>
  
  <!-- Banner -->
  <section id="banner">
    <header>
      <h2>About Me</h2>
    </header>
    <p>
      {{ page.intro }}
    </p>
    <footer>
      {% if page.features != null %}
      <a href="#articles" class="button style2 scrolly">Learn more about me</a>
      {% endif %}
    </footer>
  </section>
  
  <!-- Feature  -->

 <!-- Feature -->

 <div id="articles" class="dummy"> </div>
{% for article in page.features %}
{% cycle  '<article class="container box style1 right">','<article class="container box style1 left">' %}
    <a href="{{article.image_href}}" class="image full"><img src="{{article.image}}" alt="" /></a>
    <div class="inner">
      <header>
        <h2>{{article.heading}}</h2>
      </header>
      <p>{{article.para}}</p>
    </div>
  </article>
{% endfor %}
  
  
  <!-- Portfolio -->
  <div id="gallery" class="dummy"> </div>
  <article class="container box style2">
    <header>
      <h2>Gallery</h2>
      <p>Sorry ,I am adding contents to my pages</p>
      <div class="inner gallery">
	{% for img in page.gallery_images %}
	{% cycle '<div class="row flush">',nill,nill,nill %} 
	  <div class="3u">
	    <a href="{{ relative }}/{{ img.full }}" class="image full">
	      <img src="{{ relative }}/{{ img.thumbs }}" alt="{{ img.name }}" title="{{ img.name }}" />
	    </a>
	  </div>
	{% cycle nill,nill,nill,'</div>' %} 
	{% endfor %}
	{% cycle 'nill,'</div>','</div>', '</div>' %}
      </div>
    <div>
      <span style="text-align: right;float: right;"><a href="#">More...</a><a></a></span>
    </div>
   </header>
  </article>

  
  <!-- Contact -->
  <div id="contact" class="dummy"> </div>
  <article  class="container box style3">
    <header>
      <h2>Contact Me</h2>
      <div class="table-wrapper">
	<table class="default">
	  <tbody>
	    {% for contact in page.contacts %}
	    <tr>
	      <td>{{ contact.type }}:</td>
	      <td>
          {% for val in contact.val %}
          {{ val }}</br>
          {% endfor %}      
        </td>
	    </tr>
	    </tr>
	    {% endfor %}
	</table>
      </div>
    </header>
    
  </article>
		
<div id="footer">
{% include footer.html %}
</div>
</body>
</html>

		
