<!DOCTYPE HTML>
<html>
{% include header.html %}
<body id="top">

{% include socialsection.html %}    

{% include nav.html %}
<!-- Start of Wrapper - the full width container -->
<div class="wrapper">
  <div class="container">
    <!-- Title -->
    <div class="parallax2">
      <div class="content centered shadow" id="Astrolabos">
        <h1 class="wow bounceInUp" data-wow-duration="2s">Astrolabos</h1>
                    
      </div><!-- End of Content -->
    </div><!-- End of Parallax 2 Container -->

  
    <!-- Main -->
    <div class="smokecontainer">
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </div><!-- End of Container -->
</div><!-- End of Wrapper -->
</body>
</html>
